<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= f.label :avatar %><br>
      <%= f.file_field :avatar, f.object.avatar_options('190x190#', placeholder: image_path('placeholder.png')) %>
    </div>
    <div class="col-sm-6">
      <%= f.label :photos %><br>
      <%= f.file_field :photos, f.object.photos_options('190x75#', placeholder: image_path('placeholder.png')) %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
