<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @user.avatar_url('100x100#') %><br/>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <% @user.photos_urls('200x200#').each do |url| %>
    <%= image_tag url %>
  <% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
